.bloco-de-posts{ 
    margin-top: 50px;
}
.bloco-de-posts .txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.bloco-de-posts .txt h2 { 
    margin: 0;
    font-size: 32px;
    color: #00B4C3;
} 
.post {
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    width: 31%;
    margin: 0 1% 15px;
}

.post .img-post {
    width: 100%;
    height: 296px
}

.post .img-post img {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
    object-fit: cover
}

.post .infos {
    background: linear-gradient(to top right, #F6F8FA, #F0F4F8);
    padding: 12px 20px;
    position: relative
}

.post .infos .link-post {
    align-items: center;
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0,4,28,.1);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    right: 17px;
    top: -19px
}

.post .infos .title {
    margin: 0 0 8px 0;
    width: 88%
}

.post .infos .title a {
    font-size: 16px;
    line-height: 21px;
    color: #00508c; 
    text-decoration: unset;
    display: block
}

.post .infos .desc {
    font-size: 12px;
    line-height: 18px
}

.post .infos .desc .more-link {
    display: none
}
